body{
  background: url(./back.png);
}
input {
  background-color:  #ffffff;
}
input:-webkit-autofill {
  box-shadow: inset 0 0 0px 9999px white;
}
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
.redText{
  color:red;
}
/* Login page */
.loginMain{
  position: relative;
  width: 250px;
  height: 400px;
  top: 100px;
  left: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #cfcfff;
  transform: translate(-50%, 0%);
  border: 5px solid #4747ff;
  border-radius: 10px;

}
.mainInput{
  width: 235px;
  height: 25px;
  font-size: 17px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}
.mainBtn{
  margin-top: 10px;
  height: 30px;
  color: white;
  background-color: #4747ff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.mainBtn:hover{
  background-color: #000097;
}
.loginErrorMess{
  position: absolute;
  bottom: 95px;
  left: 50px;
  font-size: 14px;
  color: red;
}
/* End Login */

/* Profile page */


.rederTable{
  position: relative;
  top: 30px;
  left: 50%;
  min-width: 400px;
  margin: 8px;
  border-collapse: collapse;
  transform: translate(-52.6%, 0%);
  background-color: #cfcfff;

  margin-bottom: 40px;
  border-radius: 10px;
}
.rederTable th, td{
  text-align: left;
  padding: 5px;
  
}
.rederTable tr:nth-child(even){
  background-color: #ebebff;
}
.rederTable th {
  background-color: #4747ff;
  color: white;
}
.profileBtn{
  position: relative;
  top: -5px;
  margin-top: 10px;
  height: 30px;
  color: white;
  background-color: #4747ff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.profileBtn:hover{
  background-color: #000097;
}
.todoText{
  font-family: 'Just Another Hand', cursive;
  font-size: 35px;
  letter-spacing: 3px;
}
.profileLogin{
  position: relative;
  top: 60px;
  left: 50%;
  width: 350px;
  margin: 8px;
  padding: 20px;
  transform: translate(-52.6%, 0%);
  background-color: #cfcfff;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 5px solid #4747ff;
}
.logAs{
  position: absolute;
  top: 5px;
  left: 10px;
}
.logOutBtn{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  color: white;
  background-color: #4747ff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer; 
}
.logOutBtn:hover{
  background-color: #000097;
}
.addTodoText{
  position: relative;
  top: 0px;
  left: -10px;
  height: 20px;
  font-size: 17px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}
.addBtn{
  position: relative;
  top: -1px;
  height: 30px;
  color: white;
  background-color: #4747ff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer; 
}
.addBtn:hover{
  background-color: #000097;
}
.todoErrorMess{
  position: absolute;
  top: 73px;
  left: 53px;
  font-size: 14px;
  color: red;
}
/* End Profile */
/* Register Page */
.regMain{
  position: relative;
  width: 250px;
  height: 275px;
  top: 100px;
  left: 50%;
  padding: 20px;
  background-color: #cfcfff;
  transform: translate(-50%, 0%);
  border: 5px solid #4747ff;
  border-radius: 10px;

}
.regInput{
  width: 235px;
  height: 25px;
  font-size: 17px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}
.regBtn{
  margin-top: 10px;
  height: 30px;
  color: white;
  background-color: #4747ff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.regBtn:hover{
  background-color: #000097;
}
.regErrorMess{
  position: absolute;
  bottom: 93px;
  left: 60px;
  font-size: 14px;
  color: red;
}
/* end reg page */
.delBtn{
  background-color: #ff4747
}
.delBtn:hover{
background-color: #970000;
}
.mainBack{
  position: relative;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 800px;
  height: 800px;
  background-image: url(./kyl_front.png);
}

.profileBack{
  position: relative;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 800px;
  height: 800px;
  background-image: url(./kyl_open.png);
}
.pickedBtn{
  position: relative;
  top: -6px;
  left: 0px;;
  height: 31px;
  color: white;
  margin-right: 20px;
  background-color: #03a511;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.pickedBtn:hover{
  background-color: #02660a;
}